@import "Common.less";

iframe {
	width: 100%;
	height: 200px;
	border: solid 1px rgba(180,150,150,1);
	border-radius: @border-radius-normal;
}

#content {
	text-align: center;
}

@swipe-area-width: 70%;
@tank-area-width: 100% - @swipe-area-width - 5;

#swipeArea {
	border: @debug-border;
	width: @swipe-area-width;
	display: inline-block;
}

#tank {
	border: @debug-border;
	width: @tank-area-width;
}
